In [1]:
print("Hello World")

Hello World

In [2]:
### print ur name
Print("Latha")

NameError: name 'Print' is not defined

In [7]:
print('latha')

latha

In [4]:
print(10)

10

### Basics of Python

### How to print the output?

##### Print Hello World

In [8]:
print("Hello World")

Hello World

In [9]:
Print("Hello World")

NameError: name 'Print' is not defined

In [10]:
print('hello')

hello

In [11]:
print(1)

1

In [12]:
print("Welcome to the Python Course")

Welcome to the Python Course

In [13]:
print("Latha")

Latha

### Shortcut Keys
### Run-> Shift+Enter
### Insert cell above->a
### Insert cell below->b
### Delete a cell->x
### Add Comment -> M and shift+Enter

### Variables

In [14]:
x=10
x

10

In [17]:
course="ai"
print(course)

ai

In [ ]:
print(x)

In [ ]:
x

In [18]:
y=100
y

100

In [19]:
print(y)

100

In [21]:
name="Premalatha"
gender="Female"
Experience=15

In [24]:
name

Experience

gender

'Female'

In [25]:
print(name)
print(gender)
print(Experience)

Premalatha
Female
15

In [26]:
name,gender,Experience

('Premalatha', 'Female', 15)

In [27]:
Gender

NameError: name 'Gender' is not defined

In [28]:
gender

'Female'

In [29]:
y=16
x="latha"
x
y

16

In [30]:
x,y

('latha', 16)

In [31]:
y,x

(16, 'latha')

In [32]:
print(x,y)

latha 16

In [33]:
z=y
z

16

In [34]:
y

16

In [35]:
x=y=z="test"
print (z)

test

In [36]:
x,y,z=24,21,12
y

21

In [37]:
x

24

In [38]:
z

12

In [ ]:
x=5

### Rules for naming the variables
### Variable can have alphabets[A-Z,a-z]
### Variable name should not start with a number 
### Variables donot allow spl characters other than underscore
### case sensitive

In [39]:
Books=["DS with Python","BA with Python"]
Books

['DS with Python', 'BA with Python']

In [40]:
books ### Python is case-sensitive

NameError: name 'books' is not defined

In [41]:
2books=["DS with Python","BA with Python"]
2books

SyntaxError: invalid syntax (1312228080.py, line 1)

In [42]:
b2ooks=["DS with Python","BA with Python"]
b2ooks

['DS with Python', 'BA with Python']

In [43]:
books-lists=["DS with Python","BA with Python"]
books-lists

SyntaxError: cannot assign to operator (3715301045.py, line 1)

In [44]:
books_lists=["DS with Python","BA with Python"]
books_lists

['DS with Python', 'BA with Python']

In [45]:
_2books=["DS with Python","BA with Python"]
_2books

['DS with Python', 'BA with Python']

In [46]:
book names="Python","R"

SyntaxError: invalid syntax (273769256.py, line 1)

#### Rules for naming variables
##### Case-sensitive
##### It should start with A-Z,a-z or _
##### It should not start with a number but it can have numbers
##### Space is not allowed

In [47]:
### Data Types
x=107
type(x)

int

In [48]:
y=12.300
type(y)

float

In [49]:
z="Analytics"
type(z)

str

In [50]:
z

'Analytics'

In [51]:
z=Analytics
z

NameError: name 'Analytics' is not defined

In [52]:
z='Analytics'
z

'Analytics'

In [53]:
e=False
type(e)

bool

In [54]:
z=True
z,type(z)

(True, bool)

In [55]:
x=true
type(x)

NameError: name 'true' is not defined

In [56]:
e="True"
type(e)

str

In [57]:
h=2-3j
type(h)

complex

In [78]:
### implicit conversion(no inv of a programmer)
x=30
y=6
z=x/y
z

5.0

In [65]:
type(z)

float

In [86]:
### Explicit Conversion
x=12
y="43"
z=x+y
z

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [87]:
z=x+int(y)
z

55

In [ ]:
int-> float    bool   str
float->
str->

In [68]:
x=21
float(x)

21.0

In [69]:
x=5.6
int(x)

5

In [70]:
str(x)

'5.6'

In [71]:
bool(x)

True

In [72]:
x="Analytics"
float(x)

ValueError: could not convert string to float: 'Analytics'

In [73]:
x="Analytics"
int(x)

ValueError: invalid literal for int() with base 10: 'Analytics'

In [74]:
x="Analytics"
bool(x)

True

In [ ]:
Print("Hello")

In [88]:
print("Python"+" is fun")

Python is fun

In [89]:
print("Python"+ 56)

TypeError: can only concatenate str (not "int") to str

In [90]:
print("Python"+str(56))

Python56

In [91]:
### Arithmetic Operators
x=19
y=21
x+y

40

In [92]:
x-y

-2

In [93]:
x*y

399

In [94]:
x/y

0.9047619047619048

In [95]:
x**y ### x to the power y

714209495693373205673756419

In [104]:
x=4
y=10

In [105]:
x%y ## Remainder when x>y,x when x<y

4

In [106]:
x=15
y=4
x%y

3

In [107]:
x=4
y=15
x%y

4

In [108]:
x=17 ### x>y=>Quotient,x<y=>0
y=5
x//y

3

In [109]:
x=1
y=18
x//y

0

In [110]:
x=100
y=1000000000000000
x//y

0

In [111]:
### Relational Operators
a=5
b=4
a>b

True

In [112]:
a<b

False

In [113]:
a>=b

True

In [114]:
a<=b

False

In [115]:
a==b

False

In [116]:
a!=b

True

In [1]:
num=8
if(num>0):
    print(num,"is greater than zero")

8 is greater than zero

In [3]:
num=-1
if(num>0):
    print(num,"is greater than zero")
else:
    print(num,"is lesser than zero")

-1 is lesser than zero

In [8]:
x=100
y=34
z=500
if (x>y):
    print(x,"is greater")
else:
    if(z>y):
        print(z,"is greater")
    else:
        print(y,"is greater")

100 is greater

### Data Structures

#### List->elements are seperated by comma and enclosed with square bracket
#### Heterogenous
#### List can be retrieved using index
#### Mutable - can make the changes after creating the list

In [ ]:
sample_list=[1,13.6,"hi",12,1]
sample_list

In [ ]:
type(sample_list)

In [ ]:
sample_list[3]

In [ ]:
sample_list[5]

In [ ]:
sample_list[-2]

In [ ]:
sample_list[0]=10

In [ ]:
sample_list

### Tuple

##### Heterogenous
##### Paranthesis
##### can retrieve data using index
##### Immutable

In [ ]:
sample_tuple=(1,13.6,"hi",12,1)
sample_tuple

In [ ]:
type(sample_tuple)

In [ ]:
sample_tuple=1,13.6,"hi",12,1
type(sample_tuple)

In [ ]:
sample_tuple[-2]

In [ ]:
sample_tuple[10]

In [ ]:
sample_tuple[0]=10

### Set

#### Doesnot allow duplicates
#### Ordered-First place

#### In Set,elements cannot be retrieved using index

##### set is mutable

In [ ]:
sample_set={1,13.6,"hi",12,1,127,25,25,"apple","king","ball"}
sample_set

In [ ]:
sample_set[0]

In [ ]:
sample_set[0]="hello"

In [ ]:
sample_set.add(1000)

In [ ]:
sample_set

In [ ]:
sample_set.remove("hi")

In [ ]:
sample_set

### Dictionary

##### Has key-value pair data structure
##### Key is unique
##### Values can be duplicated
##### Value can be retrieved using key
##### Key cannot be retrieved using value

In [1]:
sample_dict={1:"apple",2:35.4,3:"data",2:"every",6:35.4,7:35.4,2:"hi"}
sample_dict

{1: 'apple', 2: 'hi', 3: 'data', 6: 35.4, 7: 35.4}

In [2]:
sample_dict[3]

'data'

In [4]:
sample_dict["apple"]

KeyError: 'apple'

In [3]:
sample_dict[7]=100

In [4]:
sample_dict

{1: 'apple', 2: 'hi', 3: 'data', 6: 35.4, 7: 100}

In [5]:
sample_dict[10]="Business"

In [6]:
sample_dict

{1: 'apple', 2: 'hi', 3: 'data', 6: 35.4, 7: 100, 10: 'Business'}