In [ ]:
### Import the packages
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
df=pd.read_csv("https://raw.githubusercontent.com/Premalatha-success/edForce/main/titanic-training-data.csv")

In [ ]:
df.sample(10)

In [ ]:
df.shape

In [ ]:
df.isnull().sum()

#### Age-177 missing values 
#### cabin-687
#### Embarked-2

In [ ]:
df.dtypes

#### Age-> float
#### Cabin->Object
#### Embarked-> object

In [ ]:
df.drop("Cabin",axis=1,inplace=True)

In [ ]:
df.shape

In [ ]:
### Handling Duplicate records
duplicate=df.duplicated()
print(duplicate.sum())

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df.shape

In [ ]:
df.dtypes

In [ ]:
df.info()

In [ ]:
df.isnull().sum()

In [ ]:
df.shape

In [ ]:
df.describe()

In [ ]:
df.describe(include="all")

In [ ]:
### Dropping unwanted columns
df.drop(["PassengerId","Ticket","Fare","Name"],axis=1,inplace=True)

In [ ]:
df.head()

In [ ]:
df.shape

In [ ]:
Age-> float

In [ ]:
### Dealing with missing values
median1=df["Age"].median()
median1

In [ ]:
df["Age"].replace(np.nan,median1,inplace=True)

In [ ]:
df.isnull().sum()

In [ ]:
mode1=df["Embarked"].mode().values[0]

In [ ]:
mode1

In [ ]:
df["Embarked"].replace(np.nan,mode1,inplace=True)

In [ ]:
df.isnull().sum()

In [ ]:
df.shape

In [ ]:
sns.boxplot(y="Age",data=df)

In [ ]:
def remove_outlier(col):
    sorted(col)
    Q1,Q3=col.quantile([0.25,0.75])
    IQR=Q3-Q1
    lower_range=Q1-(1.5*IQR)
    upper_range=Q3+(1.5*IQR)
    return lower_range,upper_range

In [ ]:
lowage,highage=remove_outlier(df["Age"])
df["Age"]=np.where(df["Age"]>highage,highage,df["Age"])
df["Age"]=np.where(df["Age"]<lowage,lowage,df["Age"])

In [ ]:
sns.boxplot(y="Age",data=df)

In [ ]:
df.dtypes

In [ ]:
df=pd.get_dummies(df,columns=["Sex","Embarked"])

In [ ]:
### Handling categorical data(One-hot encoding)
df=pd.get_dummies(df)

In [ ]:
df.head()